<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Price Tracker</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</head>
<body style="background-color:var(--primary-color);">
    <form id="add-ticker-form">
        <input type="text" id="new-ticker" placeholder="Add Stock Ticker" required>
        <button type="submit">Add Stock</button>
    </form>
    <p id="timer">Next update in <span id="counter"></span> seconds.</p>
    <div id="tickers-grid"></div>
</body>
</html>